.customer-wrapper {
  background-color: #fcfcfc;
  max-width: 430px;
  margin: 0 auto;

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

header {
  background-color: #fcfcfe;
}

.profile-avatar {
  border: 2px solid #4BD2F8;
  object-fit: cover;
}

.dashed-divider {
  border-top: 1.8px dashed #D0D0D0;
}

.bottom-section {
  min-height: 140px;
  background-color: #fcfcfe;
}